form{
    background-color: aliceblue;
    width:600px;
    margin:auto;
    opacity: 0.7;

}
h1 {
    text-align:center;
    color:black;
    background-color: aliceblue;
    opacity: 0.8;

}

.pregunta1{
    margin-left: 10px;
    margin-bottom: 10px;
}

.pregunta2{
    margin-left: 10px;
    margin-bottom: 10px;
}

.pregunta3{
    margin-left: 10px;
    margin-bottom: 10px;
}

.pregunta4{
    margin-left: 10px;
    margin-bottom: 10px;
}

.pregunta5{
    margin-left: 10px;
    margin-bottom: 10px;
}


div{
     padding:10px;
     margin-left: 10px;
}

#telefono{
    margin-right: 50px;
    width: 150px;
}

#nombre{
    margin-right: 50px;
    width: 150px;
}

#apellido{
    margin-right: 50px;
    width: 150px;
}

#direccion{
    margin-right: 50px;
    width: 150px;
}

#edad{
    margin-right: 50px;
    width: 150px;
}

