footer {
    background: #000000;
    min-height: 100px;;
}
footer p{
    color:#ffffff;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#ffffff;
}
#bg-contactos{
    position:relative;
    top: -130px;
} 

 #seccion-contacto{
    background-color: #000000;
    min-height:500px;
    position:relative;
}

/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;
    
}

#titulo-formulario {
    color: #4e4646;
}
